body{
    background-color:blueviolet ;
}

main{
    display: grid;
    justify-content: center;
}

h1 {
    justify-content: center;
}

h2 {
   justify-content: center;
}

.navbar {
    height: 4rem;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-bar-derecha {
    text-align: end;
}

.bg-vb {
    background-color: blueviolet;
}

.llenarConNombre {
    font-size: 1.8rem;
}

.card {
    display: flex;
    margin: 2vh;
}

